<section id="register">
  <div class="bwm-form">
    <div class="row">
      <div class="col-md-5">
        <h1 class="page-title">Register</h1>
        <form #registerForm="ngForm">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              [(ngModel)]="formData.username"
              #username="ngModel"
              type="text"
              name="username"
              id="username"
              class="form-control"
              required>

            <div *ngIf="username.invalid && (username.dirty || username.touched)"
                 class="alert alert-danger">
              <div *ngIf="username.errors.required">
                Name is required.
              </div>
            </div>

          </div>



          <div class="form-group">
            <label for="email">Email</label>
            <input type="email"
                   [(ngModel)]="formData.email" name="email"
                   class="form-control"
                   required
                   #email="ngModel"
                   id="email">

            <div *ngIf="email.invalid && (email.dirty || email.touched)"
                 class="alert alert-danger">
              <div *ngIf="email.errors.required">
                Email is required.
              </div>
            </div>

          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" [(ngModel)]="formData.password" name="password"
                   class="form-control"
                   id="password">
          </div>

          <div class="form-group">
            <label for="passwordConfirmation">Confirm Password</label>
            <input type="password" [(ngModel)]="formData.passwordConfirmation" name="passwordConfirmation"
                   class="form-control"
                   id="passwordConfirmation">
          </div>
          <button [disabled]="!registerForm.form.valid"  (click)="register(formData)" type="submit" class="btn btn-bwm">Submit</button>

        </form>
      </div>
      <div class="col-md-6 ml-auto">
        <div class="image-container">
          <h2 class="catchphrase">As our member you have access to most awesome places in the world.</h2>
          <img src="assets/images/register-image.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
